@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    height: 100vw;
    display: grid;
    position: relative;
    grid-template-rows: 1fr 20fr 3fr;
    background-color: #2C2B47;
    grid-template-columns: 1fr;
    box-sizing: border-box;
}

nav{
    display: flex;
    position: relative;
    height: 5em;
}
.menu_icon{
    display: none;
}
.menu_box{
    display: none;
}
.nav_content{
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 10%;
    display: flex;
    position: fixed;
    width: 100%;
    height: 80px;
    align-items: center;
    gap: 50%;
    background-color: #2C2B47;
}
main{
    display: grid;
    grid-template-rows: 1f 1fr 1fr 2fr 1fr;
}
#nav_title{
    font-size: 1.7em;
    flex-shrink: 2;
    color: #FF702A;
}

.item a{
    color: #FFFFFF;
    text-decoration: none;
    flex-basis: content;
    padding: 5px;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    height: 100%;
    box-sizing: border-box;
    list-style-type: none;

}

.menu li:hover{
    border: 3px solid #095C43;
}
header{
    box-sizing: border-box;
    background-color: #2C2B47;
    display: flex;
    flex-wrap: wrap;
    padding-top: 2em;
    width: 100%;
    height: max-content;
    justify-content: center;
    gap: 7em;
    align-items: center;
    height: 40em;
    border-bottom: solid 2px #FF702A;
    .info{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow-wrap: break-word;
        height: 20em;
        h1{
            font-weight: normal;
            font-size: 5rem;
            color: #FF702A;
            align-self: flex-end;
        }
        p{
            width: 40%;
            color: #FFFFFF;
            font-size: 1.5rem;
        }

    }

    .image{
        width: 30rem;
        height: 30rem;
        align-self: flex-start;
    }
    
    #img{
        width: 30rem;
        height: 30rem;
    }
}
.button{
    width: max-content;
    background-color: #FF702A;
    padding: 10px 25px;
    text-align: center;
    margin-top: 1.5em;
    
    a{
        color: #FFFFFF;
        text-decoration: none;
        font-size: 1.2em;
    }
}
.button:hover{
    transform: scale(1.1);
}
.sect1{
    box-sizing: border-box;
    flex-direction: row-reverse;
    background-color: #2C2B47;
    display: flex;
    flex-wrap: wrap;
    padding-top: 2em;
    width: 100%;
    height: max-content;
    justify-content: center;
    gap: 7em;
    align-items: center;
    height: 45em;
    border-bottom: solid 2px #FF702A;
    .info{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow-wrap: break-word;
        width: 30em;
        height: 20em;
        h1{
            font-weight: normal;
            font-size: 3rem;
            color: #FF702A;
            align-self: flex-end;
            line-height: 1.2em;
            
        }
        p{
            color: #FFFFFF;
            font-size: 1.2em;
        }
        .top-title{
            color: #FF702A;
            font-size: 1.2em;
        }
    }
    .image{
        width: 30em;
        height: 30em;
        align-self: center;
    }
    #img{
        width: 30em;
        height: 30em;
    }
}
.sect2{
    display: flex;
    box-sizing: border-box;
    background-color: #2C2B47;
    padding-top: 2em;
    width: 100%;
    height: max-content;
    justify-content: center;
    gap: 7em;
    align-items: center;
    height: 45em;
    border-bottom: solid 2px #FF702A;

    .content{
        width: 90%;
        height: 90%;
        display: flex;
        padding-top: 1em;
        flex-direction: column;
        flex-wrap: wrap;
        .info {
            display: flex;
            flex-direction: column;
            gap: 1em;
            align-items: center;
            width: 100%;
            height: 20%;
            .top-title{
                color: #FF702A;
                font-size: 1.3em;
            }
            h1{
                font-weight: normal;
                font-size: 2.5rem;
                color: #FFFFFF;
                text-align: center;   
            }
        }

        .img-container{
            display: flex;
            flex-direction: row;
            align-self: center;
            align-items: center;
            justify-content: center;
            padding-bottom: 5em;
            gap: 1em;
            width: 90%;
            height: 80%;
            .img-cont1 {
                display: flex;
                flex-direction: column;
                width: 25em;
                height: auto;
                background: #FFEFE8;
                border: 4px solid black;
                align-items: center;
                padding-top: 0.5em;
                padding-bottom: 1em;
                #img{
                    width: 60%;
                }
            }
            .img-cont2 {
                display: flex;
                flex-direction: column;
                width: 25em;
                height: auto;
                background: #FFEFE8;
                border: 4px solid black;
                align-items: center;
                padding-top: 0.5em;
                padding-bottom: 1em;
                #img{
                    width: 60%;
                }
            }
            .img-cont3 {
                display: flex;
                flex-direction: column;
                width: 25em;
                height: auto;
                background: #FFEFE8;
                border: 4px solid black;
                align-items: center;
                padding-top: 0.5em;
                padding-bottom: 1em;
                #img{
                    width: 55%;
                    margin-bottom: 1em;
                }
            } 

        }

        .price{
            color:#FF702A;
        }
    }
}

.sect3{
    display: flex;
    box-sizing: border-box;
    background-color: #2C2B47;
    width: 100%;
    height: max-content;
    justify-content: center;
    gap: 7em;
    align-items: center;
    height: 45em;
    border-bottom: solid 2px #FF702A;

    .content{
        width: 90%;
        height: 90%;
        display: flex;
        padding-top: 1em;
        flex-direction: column;
        flex-wrap: wrap;
        .info {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1em;
            width: 100%;
            height: 20%;
            .top-title{
                color: #FF702A;
                font-size: 1.3em;
            }
            h1{
                font-weight: normal;
                font-size: 2.5rem;
                color: #FFFFFF;   
                text-align: center;
            }
        }

        .img-container{
            display: flex;
            flex-direction: row;
            align-self: center;
            align-items: center;
            justify-content: center;
            padding-top: 2em;
            padding-bottom: 2em;
            width: 90%;
            height: 80%;
            .img-cont1 {
                display: flex;
                flex-direction: column;
                width: 25em;
                height: 30.5em;
                align-items: center;
                padding-bottom: 1em;
                #img{
                    display: flex;
                    width: 70%;
                    padding: 0;
                }
                h2{
                    font-weight: normal;
                    font-size: 2em;
                    color: #FF702A;
                }
                p{
                    padding-left: 1em;
                    padding-right: 1em;
                    text-align: center;
                    font-size: 1.1em;
                }
            }
            .img-cont2 {
                display: flex;
                flex-direction: column;
                width: 25em;
                height: 30.5em;
                align-items: center;
                padding-bottom: 1em;
                #img{
                    width: 70%;
                }
            }
            .img-cont3 {
                display: flex;
                padding-top: 1em;
                flex-direction: column;
                width: 25em;
                height: 30.5em;
                align-items: center;
                padding-bottom: 1em;
                #img{
                    width: 65%;
                }
            }
            h2{
                font-weight: normal;
                font-size: 2em;
                color: #FF702A;
            }
            p{
                padding-left: 1em;
                padding-right: 1em;
                text-align: center;
                font-size: 1.1em;
                color: #FFFFFF;
            }
        }

        .price{
            color:#FF702A;
        }
    }
}

.sect4{
    display: flex;
    box-sizing: border-box;
    background-color: #2C2B47;
    width: 100%;
    height: max-content;
    justify-content: center;
    gap: 7em;
    align-items: center;
    height: 40em;
    border-bottom: solid 2px #FF702A;
    padding-bottom: 1em;
    .content{
        width: 87%;
        height: 70%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: #FFEFE8;
        border: solid 5px black;
        
        .info{
            display: flex;
            width: 100%;
            height: 60%;
            justify-content: center;
            align-items: flex-end;
            padding-bottom: 1em;
            h1{
                font-weight: normal;
                text-align: center;
                width: 100%;
                height: fit-content;
                font-size: 3.5em;
            }
        }
        .button-container{
            display: flex;
            justify-content: center;
            width: 100%;
            height: 40%;
            .button{
                width: 10em;
                height: 3em;
            }
        }
    }
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2C2B47;
    height: 25em;
    .content{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 1fr;
        width: 75%;
        height: 80%;
        .space,.space2{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            padding-left: 2.5em;
            padding-top: 1em;
            h2{
                font-weight: normal;
                color: #FFFFFF;
                font-size: 1.7em;
            } 
            hr{
                height: 3px;
                background-color: #FF702A;
                border: none;
                margin-top: 0.2em;
                margin-bottom: 0.7em;
                width: 32%;
            }
            ul{
                width: fit-content;
            }
                a{
                    text-decoration: none;
                    list-style-type: none;
                    width: fit-content;
                    color: #FFFFFF;
                    font-size: 1.2em;
                }
            .contacts{
                display: grid;
                grid-template-columns: repeat(4,1fr);
                gap: 0.5em;
                width: 100%;
                height: auto;
                .contact{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #FF702A;
                    width: 3em;
                    height: 3em;
                    border-radius: 100%;
                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 70%;
                    }
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .container{
        width: 100%;
        display: grid;
        position: relative;
        grid-template-rows: 0.2fr 10fr 3fr;
        background-color: #2C2B47;
        grid-template-columns: 1fr;
    }
    main{
        width: 100vw;
        height: max-content;
    }
    .menu_box:checked + .menu {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

    }
    .menu{
        display: none;
        height: 0;
        background-color: #2C2B47;
        padding-bottom: 3em;
        font-size: 3em;
    }
    .menu_icon{
        display: flex;
        color: #FFFFFF;
        cursor: pointer;
    }
    nav{
        flex-wrap: wrap;
    }
    .nav_content{
        flex-wrap: wrap;
        justify-content: space-around;
        padding-right: 4em;
        padding-left: 0;
        padding-right: 0;
    }
    header{
        box-sizing: border-box;
        flex-direction: column;
        background-color: #2C2B47;
        display: flex;
        flex-wrap: wrap;
        padding-top: 0;
        width: 100vw;
        height: 55em;
        justify-content: flex-start;
        gap: 0;
        align-items: center;
        border-bottom: solid 2px #FF702A;
        .info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 20em;
            h1{
                font-weight: normal;
                font-size: 5rem;
                color: #FF702A;
                align-self: center;
            }
            p{
                text-align: center;
                color: #FFFFFF;
                font-size: 1.5rem;
            }
    
        }
        
        .image{
            align-self: center;
        }
    }
    .sect1{
        flex-direction: column;
        padding-top: 4em;
        width: 100vw;
        height: 65em;
        justify-content: flex-start;
        gap: 2em;
        align-items: center;
        .info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            overflow-wrap: break-word;
            text-align: center;
            gap: 1em;
            width: 30em;
            height: 20em;
            h1{
                font-weight: normal;
                align-self: center;
                
            }
            p{
                padding-top: 1em;
                color: #FFFFFF;
                font-size: 1.2em;
            }
        }
        .image{
            padding-top: 3em;
            width: 30em;
            height: 30em;
            align-self: center;
        }
    }

    .sect2{
        flex-direction: column;
        padding-top: 3em;
        width: 100vw;
        height: 85em;
        justify-content: flex-start;
        gap: 0;
        align-items: center;
        .content{
            gap: 1em;
            padding-top: 0;
            padding-bottom: 10em;
            .info{
                height: 15%;
            }
        }
        .img-container{
            flex-direction: column;
            flex-wrap: wrap;
            gap: 2em;
        }

    }
    .sect3{
        flex-direction: column;
        padding-top: 3em;
        width: 100vw;
        height: 100em;
        justify-content: flex-start;
        gap: 0;
        align-items: center;
        .content{
            .img-container{
                flex-direction: column;
                gap: 3em;
            }
        }
    }
    .sect4{
        flex-direction: column;
        width: 100vw;
        height: 35em;
        justify-content: center;
        gap: 0;
        align-items: center;
        .content{
            width: 87%;
            height: 80%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            background-color: #FFEFE8;
            border: solid 5px black;
            
            .info{
                display: flex;
                width: 100%;
                height: 60%;
                justify-content: center;
                align-items: flex-end;
                padding-top: 3em;
                padding-bottom: 0;
                h1{
                    font-weight: normal;
                    text-align: center;
                    width: 100%;
                    height: fit-content;
                    font-size: 3.5em;
                }
            }
            .button-container{
                display: flex;
                justify-content: center;
                align-content: center;
                padding-top: 3em;
                width: 100%;
                height: 40%;
                .button{
                    margin-top: 0;
                    width: 10em;
                    height: 3em;
                }
            }
        }
    }
    footer{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        background-color: #2C2B47;
        padding-top: 3em;
        width: 100vw;
        height: 60em;
        .content{
            display: grid;
            grid-template-rows: repeat(4,1fr);
            grid-template-columns: 1fr;
            gap: 2em    ;
            width: 70%;
            height: 80%;
            .space2{
                align-items: center;
                .contacts{
                    gap: 0.1;
                    align-items: center;
                    justify-content: center;
                    width: 8%;
                }
            }
        }
    }
}